<nav id="log" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/logout"> Logout </a>
        </div>
      </div>
    </nav>

<!-- <form class="create-form">
    <div class="form-group">
        <input type="text" id="ca" name="name" placeholder="Asana">
    </div>
    <button type="submit">Postures</button>
</form> -->

<div class="jumbotron">
    <img class="pic" src="https://us.123rf.com/450wm/titonz/titonz1502/titonz150200124/36660229-panoramic-cloudscape-high-resolution-blue-sky-background-the-sun-breaking-through-white-clouds.jpg?ver=6">
  <div class="container" id="main">
<div class="title">Yo Yo Yoga</div>
  </div>
</div>

<nav class="navbar navbar-light bg-light"  style="float: left;">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


<div class="btn-group" style="float: initial">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Difficulty
      </button>
      <div class="dropdown-menu" id="difChoices">
        <input type="checkbox" id="dif-beginner" value="Beginner" />
        <label class="form-check-label" for="dif-beginner"> Beginner </label
        ><br />
        <input type="checkbox" id="dif-intermediate" value="Intermediate" />
        <label class="form-check-label" for="dif-intermediate">
          Intermediate </label
        ><br />
        <input type="checkbox" id="dif-advanced" value="Advanced" />
        <label class="form-check-label" for="dif-advanced"> Advanced </label>
      </div>
    </div>

<button type="button" class="btn btn-secondary" style="justify-content:center; ">Secondary</button>
  </form>
</nav>

<br><br><br><br><br><br><br><br><br>

 <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div style="border: 2px solid black; height: 400px;">
        BOX 1 AT BOTTOM
          {{#each data}}
          <div>
          <li>{{this.engName}}</li>
          <li>{{this.sanName}}</li>
          <li>{{this.category}}</li>
          <li>{{this.translation}}</li>
          <li>{{this.difficulty}}</li>
          <li>{{this.description}}</li>
          <li>{{this.benefits}}</li>
          <li>{{this.altName}}</li>
          <li>{{this.imgURL}}</li>
        </div>
        <img src={{this.imgURL}} height=200 width=200 />
        {{/each}}
      </div>
    </div>
    <div class="col-md-6">
      <div class"row" style="border: 2px solid black; height: 400px; ">
        BOX 2 AT BOTTOM
      </div>
    </div>
  </div>
</div>