<nav id="log" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout"> Logout </a>
    </div>
  </div>
</nav>


<div class="jumbotron">
    <img class="pic" src="https://us.123rf.com/450wm/titonz/titonz1502/titonz150200124/36660229-panoramic-cloudscape-high-resolution-blue-sky-background-the-sun-breaking-through-white-clouds.jpg?ver=6">
  <div class="container" id="main">
  <div class="title">Yo Yo Yoga</div>
  </div>
</div>

<nav class="navbar navbar-light bg-light"  style="float: left;">
  <form class="form-inline">
    <input id="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  {{!-- </form>
</nav> --}}

{{!-- <div class="btn-group" style="float:initial;">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<div class="btn-group" style="float:left;">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<div class="btn-group" style="float:left;">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<button type="button" class="btn btn-secondary" style="justify-content:center;">Secondary</button> --}}
  <div class="btn-group" style="float: initial">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Difficulty
      </button>
      <div class="dropdown-menu" id="difChoices">
        <input type="checkbox" id="dif-beginner" value="Beginner" />
        <label class="form-check-label" for="dif-beginner"> Beginner </label
        ><br />
        <input type="checkbox" id="dif-intermediate" value="Intermediate" />
        <label class="form-check-label" for="dif-intermediate">
          Intermediate </label
        ><br />
        <input type="checkbox" id="dif-advanced" value="Advanced" />
        <label class="form-check-label" for="dif-advanced"> Advanced </label>
      </div>
    </div>

{{!-- <button type="button" class="btn btn-secondary" style="justify-content:center; ">Secondary</button> --}}
  </form>
</nav>

 <div class="container">
  <div class="row justify-content-start"></div>>
    <div class="col-md-6">
      <div id = "pose" ></div>
      {{!-- style="border: 2px solid black; height: 400px;"> --}}
        {{!-- BOX 1 AT BOTTOM --}}

          {{!-- {{#each data}}
          <div>
          <li>{{pose_name}}</li>
          <li>{{sanskrit_name}}</li>
          <li>{{category}}</li>
          <li>{{translation_0}}</li>
          <li>{{difficulty}}</li>
          <li>{{description_0}}</li>
          <li>{{benefits}}</li>
          <li>{{alt_name}}</li>
          <li>{{translation_1}}</li>
          <img src={{url}} height=200 width=200 />
        </div>
        {{!-- <img src={{dataValues.url}} height=200 width=200 />
        
        {{/each}}
      </div> - --}}
      </div>
      </div>
      {{!-- {{> result}} --}}
    </div>
    <div class="col-md-6">
      <div style="border: 2px solid black; height: 400px; ">
        {{!-- BOX 2 AT BOTTOM --}}
      </div>
    </div>
  </div>
</div>