<div>
        {{#each data}}
        <li>{{this.engName}}</li>
        <li>{{this.sanName}}</li>
        <li>{{this.category}}</li>
        <li>{{this.translation}}</li>
        <li>{{this.difficulty}}</li>
        <li>{{this.description}}</li>
        <li>{{this.benefits}}</li>
        <li>{{this.altName}}</li>
        <li>{{this.imgURL}}</li>
        </div>
        <img src={{this.imgURL}} height=200 width=200 />
        {{/each}}

      </div>

    </div>
    <div class="col-md-6 container">
      <div style="border: 2px solid black; height: 400px; ">
        BOX 2 AT BOTTOM </div>
    </div>
  </div>
</div>

</div>